<div class="modal fade" tabindex="-1" role="dialog" id="post-modal"
  data-controller="validation"
  aria-labelledby="aria-post-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-fullscreen-sm-down">
      <div class="modal-content" id="post-modal-content">
        <%= tag.div nil, id: 'post-modal-form' %>
      </div>
    </div>
</div >
