<div class="modal fade" tabindex="-1" role="dialog" id="post-modal"
  data-controller="validation"
  aria-labelledby="aria-post-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-fullscreen-sm-down">
      <div class="modal-content" id="post-modal-content">
        <%= render partial: 'posts/modal_add_edit_form', locals: {post: @post} %>

      </div>
    </div>
</div >
